<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - COMP2139_Labs - <a asp-area="" asp-controller="Home" asp-action="About"><i><strong>Om Makwana</strong></i></a>
    </div>
</footer>