@{
    //Razor Block
    var name = "Om Makwana";
    var studentnumber = "101414422";
    var coursecode = "COMP2139 - Sergio";
}
<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
    </head>
    <body>
        <h1>Welcome to my about page</h1>
        <p>Name : @name</p>
        <p>Student Number : @studentnumber</p>
        <p>Course Code : @coursecode</p>
    </body>

</html>